<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Impressum - arsnova.click</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

  <!-- Custom styles for this template -->
  <link href="css/new-age.min.css" rel="stylesheet">

</head>
<header class="masthead">
<body>

<h1>Impressum</h1>
<h2 id="m46">Diensteanbieter</h2>
<p>Technische Hochschule Mittelhessen (THM) University of Applied Sciences</p>
<p>Wiesenstr. 14 </p>
<p>35390 Gießen</p>
<h2 id="m56">Kontaktmöglichkeiten</h2><p><strong>E-Mail-Adresse:</strong> <a href="mailto:praesident@thm.de">praesident@thm.de</a></p>
<p><strong>Telefon:</strong> +49 641 3090</p>
<p><strong>Fax:</strong> +49 641 3092901</p>
<h2 id="m153">Vertretungsberechtigte</h2><p><strong>Vertretungsberechtigt:</strong> Prof. Dr. Matthias Willems</p>
<h2 id="m166">Aufsichtsbehörde</h2>
<p>Hessisches Ministerium für Wissenschaft und Kunst <br>Rheinstraße 23 - 25<br>65185 Wiesbaden</p><h
</body>
</header>